h1 {
    text-align:center;
    color:rgb(30,91,148);
}

h2{
    color: rgb(30,91,148);
}

body{
    background-color:white;
}

.navbar-default{
    background-color:rgb(29,66,103) !important;
    
}

.navbar-default .navbar-nav>li>a{
    color:white !important;
}

/* INDEX PAGE CSS */

.home-row{
    text-align:center;
    margin-top:2%;
}

.menu-box{
    height:200;
    width:200px;
    background-color:rgb(29,66,103);
    color:white;
    font-size: 2em;
}

.menu-box:hover{
    background-color:rgb(29,66,103);
    color:white;
    box-shadow: 5px 5px 2px #888888;
}


/* ACCOUNT PAGE CSS */

.class_taken{
    margin-left:2%;
}

.submitbtn{
    margin-left:1%;
}