{% extends "./main/base.html" %}
{% block content %}
    <div class="container">
        <h1>Profile</h1>
        <form method="post" action="account">
             {% csrf_token %}
             {{ form.as_p }}
             
            <h3>Classes Taken</h3>
            {% for class in classes_taken %}
                <div class="row">
                    <h4>{{ class.name }}</h4>
                    <input class="btn btn-primary" value="Remove"/>
                </div>
            {% endfor %}
        <input name="addclass"/><input class="btn btn-primary" value="Add Class"/>
        <div class="row">
            <input class="btn btn-primary" type="submit" value="Update Account" />           
        </div>
        
        </form>
    </div>
{% endblock %}