{% extends "./main/base.html" %}
{% block content %}
    <div class="container">
        <h1>Profile</h1>
        <form method="post" action="account">
             {% csrf_token %}
             {{ form.as_p }}
        <div class="row">
            <input class="btn btn-primary submitbtn" type="submit" value="Update Account" />           
        </div>
        </form>
        <form method="post" action="addClass">
        <h3>My Plans</h3>
            <p>show plans here</p>
        <h3>Classes Taken</h3>
            {% for class in classes_taken %}
                <div class="row">
                    <p class="class_taken">{{ class.courseID.course_id }} : {{ class.courseID.name }}</p>
                </div>
            {% endfor %}
        <input name="addclass"/><input class="btn btn-primary submitbtn" type="submit" value="Add Class"/>
        </form>
        <form method="post" action="removeClass">
                <input name="removeClass"/><input class="btn btn-primary submitbtn" type="submit" value="Remove Class"/>
        </form>
        {% if permission %}
        <h3>Students</h4>
        {% for stu in studentlst %}
            <div class="row">
                {% url 'view_student' username=stu.usr_acct.username as student_url %}
                <a href="view_student/{{ stu.usr_acct.username }}"><input class="btn btn-default" value="{{ stu.usr_acct.username }}"></a>
            </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}

