{% extends "./main/base.html" %}
{% block content %}
      <div class="container">
        <form class="form-signin" method="post" action="login">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h1 id="login">Login</h1>
                    <label for='username' class="sr-only"><b>Username</b></label>
                    <input name='username' class="form-control" type="text" placeholder="Enter Username" name="uname" required>            
                    <label for="password" class="sr-only"><b>Password</b></label>
                    <input name="password" class="form-control" type="password" placeholder="Enter Password" name="psw" required>    
                    <button class="btn btn-primary btn-block" type="submit">Login</button>
                </div>    
            </div>
            
        </form>
    </div>
{% endblock %}